:root {
  --main-font: 'Inter', 'Arial', sans-serif;
  --main-color: #111827;
  --royal-blue: #5d5fef;
  --ebony: #111827;
  --gray: #6b7280;
  --silver: #c4c4c4;
  --secondary-gray: #e2e3e5;
  --athens-gray: #f3f4f6;
}
